@page
@model DoAn_LTHDT_NguyenCongDanh_21880020.Pages.MH_SuaMatHangModel
@using Entities;
<div class="w-50 p-0 container">
    @if (Model.mh != null)
    {
        <form method="post">
            <h2>Sửa mặt hàng</h2>
            <div class="row">
                <label class="col-5">Mã MH</label>
                <input name="ten" value="@Model.mh.MaMH" disabled class="col-7" />
            </div>
            <div class="row">
                <label class="col-5">Tên</label>
                <input name="ten" value="@Model.mh.TenMH" class="col-7" />
            </div>
            <div class="row">
                <label class="col-5">Hạn dùng</label>
                <input name="hanDung" type="date" value="@Model.mh.HanDungMH" class="col-7" />
            </div>
            <div class="row">
                <label class="col-5">Công ty sản xuất</label>
                <input name="ctySX" value="@Model.mh.CongTySX" class="col-7" />
            </div>
            <div class="row">
                <label class="col-5">Ngày sản xuất</label>
                <input name="ngaySX" type="date" value="@Model.mh.NgaySX" class="col-7" />
            </div>
            <div class="row">
                <label class="col-5">Loại</label>
                <select name="loai" class="col-7">
                    <option value="">Chưa xác định</option>
                    @foreach (LoaiHang lh in Model.lstLH)
                    {
                        if (lh.MaLH == Model.maLHChon)
                        {
                            <option value="@lh.MaLH" selected>@lh.TenLH</option>
                        }
                        else
                        {
                            <option value="@lh.MaLH">@lh.TenLH</option>
                        }
                    }
                </select>
            </div>
            <div class="row">
                <label class="col-5">Giá</label>
                <input name="gia" type="number" min="0" value="@Model.mh.Gia" class="col-7" />
            </div>
            <div class="row justify-content-start">
                <div class="col-5">
                    <button type="submit">Sửa</button>
                    <a href="/MH_TimKiemMatHang">Quay lại</a>
                </div>
            </div>
        </form>
        @Model.chuoi
    }
    else
    {
        @Model.chuoi
        <a href="/MH_TimKiemMatHang">Quay lại</a>
    }
</div>