@page
@model DoAn_LTHDT_NguyenCongDanh_21880020.Pages.MH_TimKiemMatHangModel
@using Entities;
<h2>Tìm kiếm mặt hàng</h2>
<form method="post">
    <input name="noiDungTimKiem" />
    <button type="submit">Tìm kiếm</button>
</form>
<table>
    <tr>
        <th>Mã MH</th>
        <th>Tên</th>
        <th>Hạn dùng</th>
        <th>Công ty sản xuất</th>
        <th>Ngày sản xuất</th>
        <th>Loại</th>
        <th>Giá</th>
        <th></th>
    </tr>
    @for(int i=0;i<Model.lstMH.Count;i++)
    {
        <tr>
            <td>@Model.lstMH[i].MaMH</td>
            <td>@Model.lstMH[i].TenMH</td>
            <td>@Model.lstMH[i].HanDungMH</td>
            <td>@Model.lstMH[i].CongTySX</td>
            <td>@Model.lstMH[i].NgaySX</td>
            <td>@Model.lstTenLoai[i]</td>
            <td>@Model.lstMH[i].Gia</td>
            <td>
                <a href="/MH_SuaMatHang?id=@Model.lstMH[i].MaMH">Sửa</a>
                <a href="/MH_XoaMatHang?id=@Model.lstMH[i].MaMH">Xóa</a>
            </td>
        </tr>
    }
</table>
@Model.chuoi
