@page
@model DoAn_LTHDT_NguyenCongDanh_21880020.Pages.MH_TimKiemHoaDonNhapModel
@using Entities;
<h2>Tìm kiếm hóa đơn nhập</h2>

<form method="post">
    <input name="noiDungTimKiem" />
    <button type="submit">Tìm kiếm</button>
</form>
<table>
    <tr>
        <th>Mã hóa đơn</th>
        <th>Mã mặt hàng</th>
        <th>Tên mặt hàng</th>
        <th>Số lượng</th>
        <th></th>
    </tr>
    @if (Model.lstHDN != null)
    {               
        @for (int i = 0; i < Model.lstHDN.Count; i++)
        {
            <tr>
                <td>@Model.lstHDN[i].MaHoaDon</td>
                <td>@Model.lstHDN[i].MatHangChon</td>
                <td>@Model.lstTenMH[i]</td>
                <td>@Model.lstHDN[i].SoLuong</td>
                <td>
                    <a href="/MH_SuaHoaDonNhap?id=@Model.lstHDN[i].MaHoaDon">Sửa</a>
                    <a href="/MH_XoaHoaDonNhap?id=@Model.lstHDN[i].MaHoaDon">Xóa</a>
                </td>
            </tr>
        }
    }
</table>
@Model.chuoi
